@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcakes
}

:root {
  /* breakpoint */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --primary: #000105;
  --secondary: #64748b;
  --accent: #f59e0b;
  --background: #f8fafc;
  --text: #1e293b;

  --fonts-primary: 'Inter', sans-serif;     /* Font utama, terlihat modern & clean */
  --fonts-secondary: 'Space Grotesk', sans-serif;       /* Untuk heading atau special use */
}

